body{
        padding-top: 0;

}
.heading{
    text-align: center;
    background-color:  rgb(8, 101, 89);
    height:40%;
    color:antiquewhite;
    padding-bottom: 2%;
    
}

h3{
    text-align: left;
    padding-left: 1%;
}
#ques1 {
     
     
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
     color: antiquewhite;
     height: 3%;
     padding-bottom: 2%;
     box-sizing: border-box;
     width: 300px;
      border: 15px solid coral;
     padding: 50px;
       margin: 20px;
       margin-left: 40%;
     background-color:rgb(25, 25, 54);
     text-decoration-style: solid;
    
} 
#ques2 {
     
     
    text-align: center;
    color: antiquewhite;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 

#ques3 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 

#ques4 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 

#ques5 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 

#ques6 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 
#ques7 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 
#ques8 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 
#ques9 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 
#ques10 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 
#ques11 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 
#ques12 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 
#ques13 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 
#ques14 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 
#ques15 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 
#ques16 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 
#ques17 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 
#ques18 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
    justify-content: center;
   
} 
#ques19 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 
#ques20 {
     
    color: antiquewhite;
    text-align: center;
    height: 3%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 300px;
     border: 15px solid coral;
    padding: 50px;
      margin: 20px;
      margin-left: 40%;
    background-color:rgb(25, 25, 54);
    text-decoration-style: solid;
   
} 